

.cart
  display: block
  align-items: center
  flex-wrap: wrap
  gap: 16px

.cart-item
  flex-basis: auto
  padding: 16px
  border: 1px solid #606197

.cart-item img
  max-width: 100px
  height: auto

.cart-item h3
  margin-top: 16px
  font-weight: bold

.cart-item p
  margin-top: 8px
  color: #820956

.cart-item button
  background-color: #ff0000
  color: white
  border: none
  padding: 8px 16px
  text-align: center
  text-decoration: none
  display: inline-block
  font-size: 14px
  margin: auto 0
  cursor: pointer
