<h2 class="cart__title">Listado de Productos</h2>
<div class="product-grid">
  <div class="product-card" *ngFor="let product of products">
    <img class="product-card__image" [src]="product.image" alt="Product Image">
    <h3 class="product-card__title">{{ product.title  }}</h3>
    <p class="product-card__description">{{ product.description  }}</p>
    <p class="product-card__price">{{ product.price | currency }}</p>
    <button class="button" (click)="addToCart(product)">Agregar al carrito</button>
  </div>
</div>
