.cart-button
  position: relative
  background-color: #606197
  color: white
  border: none
  padding: 8px 16px
  text-align: center
  text-decoration: none
  display: inline-block
  font-size: 14px
  margin-top: 16px
  cursor: pointer

.cart-badge
  position: absolute
  top: -8px
  right: -8px
  display: flex
  align-items: center
  justify-content: center
  width: 20px
  height: 20px
  border-radius: 50%
  background-color: red
  color: white
  font-size: 12px
  font-weight: bold
